body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background: linear-gradient(to bottom right, #2f3e46, #e76f51);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

header {
  padding: 2rem;
  color: #fff;
}

.highlight {
  color: #e9c46a;
}

main {
  background: #fff;
  width: 90%;
  max-width: 800px;
  border-radius: 12px;
  padding: 2rem;
  margin: 1rem 0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

section {
  margin-bottom: 2rem;
}

h2 {
  color: #2a9d8f;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: inline-block;
  margin: 0.5rem 1rem;
  font-weight: bold;
  color: #264653;
}

footer {
  color: #fff;
  margin-bottom: 1rem;
}

.error {
  background: #1d3557;
  color: #f1faee;
}

.error h1 {
  font-size: 6rem;
  margin: 0;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  background: #e76f51;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}
.btn:hover {
  background: #f4a261;
}
